/* .vertical-icons {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
} */

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* @keyframes float {
    0%, 100% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(-10px);
    }
} */

.animated-text {
    animation: fadeInLeft 1s ease-out forwards;
}

.hero-image {
    max-width: 300px;
    transition: transform 0.3s, opacity 0.5s;
    opacity: 0;
    animation: fadeInLeft 1s ease-out forwards 0.5s;
    /* animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-name: fadeInLeft, float;
    animation-duration: 1s, 3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite; */
}

.hero-image:hover {
    transform: scaled(1.05);
}