.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 500px) {
    .navbar {
        font-size: 1rem;
    }
}