footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer p {
    font-size: 1.2rem;
    color: white;
}

@media (max-width: 767px) {
    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    footer p {
        font-size: 0.8rem;
    }
}