.radio-color {
  border-color:#dc3545;
  appearance: none;
}

.radio-color:checked {
  background-color: #dc3545;
  border-color:#dc3545;
}

.radio-color:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.35);
}
